.\#*
.build
/.tidyall.d
Build
Debian_CPANTS.txt
File-LibMagic-*
LibMagic.bs
LibMagic.c
LibMagic.o
LibMagic.xsc
MANIFEST
META.*
MYMETA.*
Makefile
Makefile.old
\#*\#
_build
blib*
config.log
cover_db*
pm_to_blib*
